<%- include('./includes/header.ejs') %>

<div class="contact-container">
    <div class="title-text">
        <h4>Contact Me</h4>
    </div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque nostrum numquam nihil facere minima nisi beatae
        suscipit totam, odio vitae ratione, aperiam eius consequatur id laudantium quasi, minus dolores? Laborum et amet
        tenetur, rerum illum odio. Quaerat labore molestiae enim quo ut facilis quis animi atque? Obcaecati ab hic, et
        saepe tempora error nobis aperiam iure, architecto placeat fugit blanditiis! Accusamus maxime, laudantium
        deserunt ab exercitationem, dolore et ducimus doloremque voluptatum earum quidem? Eos blanditiis vero assumenda
        culpa nemo soluta unde perspiciatis, facilis provident fugiat quibusdam doloremque earum, quod fugit rerum
        maiores nobis quis beatae voluptates distinctio sed? Molestiae ratione sed rerum nisi natus doloribus
        praesentium voluptas unde? Rerum alias vitae quia facilis quasi distinctio praesentium dolores id, optio libero
        ea? Nihil, sit beatae ullam, officiis cupiditate nisi accusamus vero atque soluta sunt fuga eaque aliquid?
        Officia sint, ut libero eius ipsa earum perferendis cupiditate, ea facere cum vitae porro provident.
    </p>
</div>
<%- include('./includes/footer.ejs') %>